.wrapper {
  position: absolute;
  /* display: block; */
  top: 52.5px;
  left: 507px;
  width: 508px !important;
  height: 477px;
  background-color: #fff;
  border-radius: 4px;
  display: none;
}
.wrapper .h-line {
  border-top: 0.8px solid rgba(158, 158, 158, 0.4);
  display: block;
  width: 370.5px;
  left: 138px;
  top: 101px;
  height: 1px;
  position: absolute;
}
.calendar-c {
  position: absolute !important;
  right: 18px;
  top: 116px;
  height: 360px;
  overflow: scroll;
}
.calendar-c::-webkit-scrollbar {
  display: none;
}
