.month-list-c {
  width: 139px;
  height: 477px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #f7f7f7;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0.8px solid rgba(158, 158, 158, 0.4);
}
.month-list-c > div {
  width: 120px;
  height: 34px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: #888888;
  margin-left: 9px;
  display: flex;
  align-items: center;
  padding-left: 9px;
}
.month-list-c > div:nth-child(1) {
  margin-top: 9px;
}
.month-list-c > div:hover {
  background-color: #e8e8e8;
}
.month-list-c .selected-month {
  background-color: #e8e8e8;
}
