@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,700&subset=latin-ext,cyrillic&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 120vh;
  font-family: "Roboto", sans-serif;
  background-color: gray;
}
