.searchform-c {
  position: relative;
  right: 50px;
  width: 964px;
  height: 48px;
  margin: auto;
  position: relative;
  top: 103.5px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
}
.searchform-c > div:nth-child(1) {
  position: absolute;
  top: -37.6px;
  left: 16.5px;
  color: #ffd600;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-bottom: 14px;
  border-bottom: 8px solid #ffd600;
}

.searchform-c .swap {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 49px;
  position: relative;
  margin-left: 4px;
  /* right: 12.5px; */
  /* border: 1px solid red; */
  padding-right: 2px;
}
.searchform-c .swap svg {
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  padding: 5px;
  width: 34px;
  height: 34px;
}
.searchform-c .swap:hover svg {
  background-color: rgba(33, 33, 33, 0.07);
}
